<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.octest.servlets.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/bonjour</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Home</display-name>
		<servlet-name>Home</servlet-name>
		<servlet-class>com.octest.servlets.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Filing</display-name>
		<servlet-name>Filing</servlet-name>
		<servlet-class>com.octest.servlets.Filing</servlet-class>
		<multipart-config>
			<location>C:\Users\Amioplk\Documents\Cours_Openclassrooms\JEE\tmp\</location>
			<max-file-size>10000000</max-file-size>
			<max-request-size>50000000</max-request-size>
			<file-size-threshold>1000000</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>Filing</servlet-name>
		<url-pattern>/echange</url-pattern>
	</servlet-mapping>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
</web-app>